<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>9</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <ErrorReportUrl>https://github.com/BigSpice/VTOL/issues</ErrorReportUrl>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>VTOL</ProductName>
    <PublishDir>D:\Development Northstar AmVCX C++ branch 19023 ID 44\VTOL_2.0.0_\published\</PublishDir>
    <PublishUrl>D:\Development Northstar AmVCX C++ branch 19023 ID 44\VTOL_2.0.0_\published\</PublishUrl>
    <PublisherName>Juicy</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>VTOL</SuiteName>
    <SupportUrl>https://github.com/BigSpice/VTOL/blob/master/README.md</SupportUrl>
    <TargetCulture>en-US</TargetCulture>
    <TargetFramework>net6.0-windows10.0.17763.0</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include=".NETFramework,Version=v4.8">
      <Install>true</Install>
      <ProductName>Microsoft .NET Framework 4.8 (x86 and x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.6.0.x64">
      <Install>true</Install>
      <ProductName>.NET Runtime 6.0.1 (x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.6.0.x86">
      <Install>true</Install>
      <ProductName>.NET Runtime 6.0.1 (x86)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 6.0.1 (x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x86">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 6.0.1 (x86)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>