<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>2</ApplicationRevision>
    <ApplicationVersion>2.0.2.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <ErrorReportUrl>https://github.com/BigSpice/VTOL</ErrorReportUrl>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/BigSpice/VTOL/master/published/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>VTOL</ProductName>
    <PublishDir>D:\Development Northstar AmVCX C++ branch 19023 ID 44\VTOL_2.0.0_\published\</PublishDir>
    <PublishUrl>D:\Development Northstar AmVCX C++ branch 19023 ID 44\VTOL_2.0.0_\published\</PublishUrl>
    <PublisherName>Jordan</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>VTOL</SuiteName>
    <SupportUrl>https://github.com/BigSpice/VTOL</SupportUrl>
    <TargetCulture>en-CA</TargetCulture>
    <TargetFramework>net6.0-windows10.0.17763.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>https://raw.githubusercontent.com/BigSpice/VTOL/master/published/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(1).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(10).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(11).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(12).png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(13).png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(14).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(15).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(16).png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(17).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(18).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(19).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(2).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(20).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(21).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(22).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(23).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(24).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(25).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(26).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(27).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(28).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(29).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(3).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(30).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(31).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(32).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(33).png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(34).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(35).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(36).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(37).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(38).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(39).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(4).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(40).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(41).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(42).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(43).png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(44).png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(45).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(46).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(47).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(48).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\Wallpaper(49).png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(5).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(6).png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(7).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(8).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Backgrounds_Home_Page\wallpaper(9).jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Banner_normal.jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\FAqBg.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Backgrounds\Thunderstore.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Icons\Main_UI\advocate_announcement_1.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Icons\Main_UI\info-large.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Icons\Main_UI\Northstar-512.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Icons\Main_UI\northstar_icon_ZfV_icon.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Icons\Main_UI\plugin.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Icons\Main_UI\server-icon-download-icons-17.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Icons\Main_UI\settings.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Icons\Main_UI\Tools-Silhouette-Transparent.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Icons\Main_UI\twitch.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Icons\Main_UI\User_Icon.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\Resource_Static\Northstar_Server_Vals_Aug_2022.json">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>