[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
/VTOL_2.0.0/Resources/Backgrounds/Backgrounds_Home_Page/VTOL_NIGHTLY-artifact.zip
/VTOL_2.0.0_/VTOL_3.0.0/VTOL_C/.vs
/VTOL_2.0.0_/VTOL_3.0.0/VTOL_C/bin