<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="VTOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		
	</runtime>
 <userSettings>
  <VTOL.Properties.Settings>
   <setting name="Ns_Startup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Version" serializeAs="String">
    <value>v1.5.1</value>
   </setting>
   <setting name="Ns_Dedi" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Advanced_Mode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Automatic_Client_Updates" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Sort_Mods" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Warning_Close_EA" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Profile_Path" serializeAs="String">
    <value />
   </setting>
   <setting name="Current_REPO_URL" serializeAs="String">
    <value>https://api.github.com/repos/R2Northstar/Northstar/releases/latest</value>
   </setting>
   <setting name="Sort_Mods_By_Date" serializeAs="String">
    <value>False</value>
   </setting>
  </VTOL.Properties.Settings>
 </userSettings>
</configuration>