[*.cs]

# CS2012: Cannot open 'D:\Development Northstar AmVCX C++ branch 19023 ID 44\VTOL_NEW_UI_Dev\obj\x64\Release\net6.0-windows10.0.22621.0\VTOL.dll' for writing -- 'The process cannot access the file 'D:\Development Northstar AmVCX C++ branch 19023 ID 44\VTOL_NEW_UI_Dev\obj\x64\Release\net6.0-windows10.0.22621.0\VTOL.dll' because it is being used by another process.'
dotnet_diagnostic.CS2012.severity = warning
