<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Targets.Syslog" />
	</extensions>
	<targets>
		<target name="syslog" type="Syslog">
			<messageCreation>
				<facility>Local7</facility>
			</messageCreation>
			<messageSend>
				<protocol>TCP</protocol>
				<tcp>
					<server>logsN.papertrailapp.com</server>
					<port>38137</port>
					<tls>
						<enabled>true</enabled>
					</tls>
				</tcp>
			</messageSend>
		</target>
		<target name="logfile" xsi:type="File" fileName="VTOL_LOG.txt" />
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minLevel="Trace" appendTo="syslog" />
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>