
name: .NET Core Desktop

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
env:
  PROJECT_PATH: VTOL_2.0.0/VTOL.csproj
jobs:
 deploy:
  runs-on: windows-latest
  steps:
    - uses: actions/checkout@v2
    
    - run: mkdir -p /actions

    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x     

    - run: dotnet restore ${{ env.PROJECT_PATH }}
            
    - run: dotnet publish -c Release -r win-x64 --output  "/actions" ${{ env.PROJECT_PATH }}

    - run: dir /actions

    - uses: actions/checkout@v4

    - uses: actions/upload-artifact@v4
      with:
        name: VTOL_NIGHTLY-artifact
        path: /actions/_VTOL_.exe  
